@section breadcrump {
    <li><a href="@Url.Action("Index", "CusContact")">客戶資料</a></li>
}

@model IEnumerable<HomeWork.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>客戶聯絡人管理</h2>

@using (Ajax.BeginForm("Index", "CusContact",new AjaxOptions(){ HttpMethod = "POST", UpdateTargetId = "table2" }))
{
    <div class="form-group">
       @Html.DropDownList("客戶職稱", null, "--- 請選擇 ---", htmlAttributes: new { @class = "form-control", 職稱 = "職稱" }) 
    </div>
    <input type="submit" value="篩選" class="btn btn-default" />
    @ViewBag.職稱
}

<p>
    @Ajax.ActionLink("建立...", "Create", "CusContact", new AjaxOptions { UpdateTargetId = "table2" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.職稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.手機)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Ajax.ActionLink("編輯", "Edit", "CusContact", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "table2" })
            @Ajax.ActionLink("詳細", "details", "CusContact", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "table2" })
            @Ajax.ActionLink("刪除", "delete", "CusContact", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "table2" })
        </td>
    </tr>
}
    
    
</table>
