
@section breadcrump {
    <li><a href="@Url.Action("Index", "CusManage")">客戶資料</a></li>
}



@model IPagedList<HomeWork.Models.客戶資料>
@using PagedList;
@using PagedList.Mvc;
<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
  $("#export").click(function () {
        $.ajax({
            url: "@Url.Action("cusDataExport")",
            success: function (response, textStatus, jqXHR) {
                window.location.href = '@Url.Action("cusDataExport", "CusManage")';
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
</script>

@using (Ajax.BeginForm("Index", "CusManage", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "table1" }))
{
    <div class="form-group">
        @Html.Label("篩選")
        <div class="col-md-10">
            @Html.DropDownList("客戶分類", null, "--請選擇--", htmlAttributes: new { @class = "form-control", id = "客戶分類" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="搜尋" class="btn btn-default" />
        </div>
    </div>
}
<div id="table">
    <h2>客戶資料管理</h2>
    <div>
        <button id="export">匯出成excel</button>
    </div>

    <p>
        @Ajax.ActionLink("建立...", "Create", "CusManage", new AjaxOptions { UpdateTargetId = "table1" })
    </p>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().客戶分類)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶分類)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.統一編號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.傳真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Ajax.ActionLink("編輯", "Edit", "CusManage",new {id=item.Id},new AjaxOptions { UpdateTargetId = "table1" })
            @Ajax.ActionLink("詳細", "details", "CusManage", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "table1" })
            @Ajax.ActionLink("刪除", "delete", "CusManage", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "table1" })
        </td>
    </tr>
}

</table>
  
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))





